html {
  box-sizing: border-box;
}

#main {
  font-family: cursive;
  padding: 0;
  margin: 0;
  background-image: url("/chrisRock88th.jpg");
  background-color: rgb(2, 2, 2);
  background-size: 60% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

*,
*:before,
*:after {
  /* box-sizing: inherit; */
  padding: 0;
  margin: 0;
}
