#navTwo {
  background-color: transparent;
  /* box-shadow: 2px 3px 6px rgb(43, 14, 70); */
  box-shadow: none;
  font-family: cursive;
}

#navTwo a {
  color: black;
  font-size: 2rem;
}

#navTwo a:hover {
  color: rgb(233, 210, 138);
}

#logo {
  width: 20%;
  margin-left: 10%;
  margin-top: 5%;
}
